
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body{
    font-family: 'Dosis';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=phone]{
    border-radius: 3px;
    border: rgb(175, 175, 175) solid 1px;
    padding: 5px;
    width: 100%;
}

a{
    text-decoration: none;
}


button{
    padding: 10px 20px;
    margin: 25px 0;
    font-family: 'Dosis';
    font-size: 20px;
    background-color: rgb(59, 102, 105);
    border-radius: 3px;
    border:0;
    color: rgb(255, 255, 255);
}

.logout{
    color: crimson !important;
    margin: 30px 0;
}

.link{
    font-size: 50px;
    margin: 30px;
}